.logo-view img {
    width: 70px;
}

.logo-view p {
    font-size: 15px;
    font-weight: 600;
}

.logo-view {
    display: none;
}

#menu {
    height: 100vh;
}

#icons {
    position: absolute;
    bottom: 10px;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}
#menu-list {
    position: absolute;
    top: 30vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.home {
    width: 82vw !important;
}

#news .container {
    padding-bottom: 0;
}

#mis-a-vis p.body-text,
#mis-a-vis h4 {
    color: #000000 !important;
}

.mis-a-vis {
    padding-left: 0 !important;
}

.link-effect a {
    color: #fff;
    padding: 8px 0;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.link-effect a::after {
    height: 2px;
    width: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect a:hover::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media screen and (max-width: 992px) {

    .home {
        min-height: 100vh;
        width: 100vw !important;
    }

    .logo-view {
        display: block;
    }

    .scroll {
        display: none;
    }

    .mis-a-vis {
        padding-left: 1.75rem !important;
    }



    ;
}

}
